<table class="table table-bordered" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Listes des emails  </th>
      <th scope="col">Emails sélectionnés </th>
  
    </tr>
  </thead>
  <tbody>
      <%@emails.each do |e|%>
    <tr>
      <th scope="row"id ="<%=e.id%>"><%=e.id%></th>
      <td class="emailobjet"><%=e.object%></td>
      <td class= "emailbody"><%=e.body%></td>
    </tr>
    <%end%>
  </tbody>
</table>
